.deadd-noti-center {
    font-family: monospace;
}
label.deadd-noti-center.notification.appname
{

}
label.deadd-noti-center.notification.body
{
	font-size: 1.5em;
}
label.deadd-noti-center.notification.title
{
	font-size: 2em;
}
image.deadd-noti-center.notification.image
image.deadd-noti-center.notification.icon
{
	margin: 10px;
	min-height: 128px
	max-height: 256px
}